<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.domain.Student">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="birthdate" jdbcType="VARCHAR" property="birthdate" />
        <result column="major" jdbcType="VARCHAR" property="major" />
        <result column="grade" jdbcType="VARCHAR" property="grade" />
    </resultMap>
    <sql id="Base_Column_List">
        id, student_no, name, sex, age, birthdate, major, grade
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from student
        where id = #{id,jdbcType=VARCHAR}
    </select>

</mapper>